.container {
  display: block;
  text-align: center;
}
.free__calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 8px solid #222;
  text-align: center;
  padding: 100px 45px;
}

.row__custom {
  display: block;
  flex-direction: ;
  align-items: center;
  margin: 0 10px;
  height: auto;
  justify-content: space-between;
  @media (max-width: 1140px) {
    min-width: 505px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 56px;
    height: auto;
    justify-content: space-between;
  }
}
.options__div {
  padding: 75px 0px 0px 0px;
}

.main {
  text-align: center;
  font-family: "Varela", sans-serif;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  display: block;
  font-style: normal;
  font-size: 45px;
  padding: 15px 0px 0px 0px;
}
.main__variants {
  padding: 15px 0px 0px;
  text-align: center;
  font-family: "Varela", sans-serif;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: white;
  background: #001220;
  font-style: normal;
  font-size: 1.8rem;
}
.main__calc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 200px;
  @media (max-width: 700px) {
    float: center;
    min-width: 505px !important;
  }
}

.main__img {
  float: left;
  display: block;
  width: 50%;
  min-width: 280px;
  height: auto;
  overflow: hidden;
}

.img__options {
  padding: 0px 10px;
}

.main__options {
  display: flex;
  width: fit-content;
  min-width: 50%;
  text-align: left;
  align-items: center;
  height: fit-content;
  font-weight: 600;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
}
.get__help {
  font-size: 1.3rem;
  text-align: center;
}

.footer__container {
  background: #001220;
  background: linear-gradient(
    176deg,
    rgba(0, 18, 32, 1) 29%,
    rgba(81, 75, 255, 1) 88%
  );
}

.footer__sub {
  font-size: 1.2rem;
  color: white;
  margin: 0px 0px 10px;
}

.square-holder {
  padding: 30px;
  border: 1px #cecece;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(89, 0, 255, 0.15) 10%, #001220 55%);
  min-height: 150px;
}

.square-holder img {
  max-width: 100%;

  transition: all 0.3s;
}
.square-holder:hover img {
  filter: contrast(180%);
}

.spacer {
  aspect-ratio: 960/360;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./layer3.svg");
}
.layer2 {
  background-image: url("./layer1.svg");
  aspect-ratio: 960/360;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 540px) {
  .layer1 {
    background-image: url("./layer3phone.svg");
  }
  .main__img {
    float: center;
  }
}
@media only screen and (max-width: 580px) {
  .main__img {
    margin: 0px 0px 0px 50px;
  }
}

.calculator__main {
  background: #8383c4;
  aspect-ratio: 960/360;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./layer4.svg");
}
